[Desktop Entry]
Name=Vodafone
Exec=firefox-esr --no-remote -P firefox-vodafone --name firefox-vodafone https://www.vodafone.gr/myvodafone
Type=Application
Icon=/home/droidian/.local/share/applications/icons/vodafone.png
