[Desktop Entry]
Type=Application
Name=Obtainium
Exec=waydroid app launch dev.imranr.obtainium
Icon=/home/droidian/.local/share/waydroid/data/icons/dev.imranr.obtainium.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
NoDisplay=false

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:dev.imranr.obtainium
Icon=/home/droidian/.local/share/waydroid/data/icons/com.android.settings.png
