[Desktop Entry]
Type=Application
Name=Πληροφορίες Ο.Α.Σ.Θ.
Exec=waydroid app launch com.stonos.oasth
Icon=/home/droidian/.local/share/waydroid/data/icons/com.stonos.oasth.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
NoDisplay=false

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.stonos.oasth
Icon=/home/droidian/.local/share/waydroid/data/icons/com.android.settings.png
