[Desktop Entry]
Type=Application
Name=News
Exec=waydroid app launch de.luhmer.owncloudnewsreader
Icon=/home/droidian/.local/share/waydroid/data/icons/de.luhmer.owncloudnewsreader.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
NoDisplay=false

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:de.luhmer.owncloudnewsreader
Icon=/home/droidian/.local/share/waydroid/data/icons/com.android.settings.png
