[Desktop Entry]
Type=Application
Name=winbank New
Exec=waydroid app launch gr.winbank.mobile.redesign
Icon=/home/droidian/.local/share/waydroid/data/icons/gr.winbank.mobile.redesign.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
NoDisplay=false

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:gr.winbank.mobile.redesign
Icon=/home/droidian/.local/share/waydroid/data/icons/com.android.settings.png
